body{
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    background-color: #ccc;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 1000px;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
}